<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item active">
                <a class="nav-link" href="/contacts">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/contacts" id="contactDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Contacts
                </a>
                <div class="dropdown-menu" aria-labelledby="contactDropdownMenuLink">
                    <a class="dropdown-item" href="/contacts">All</a>
                    <a class="dropdown-item" href="/contacts/new">New</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/organizations" id="organizationDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Organizations
                </a>
                <div class="dropdown-menu" aria-labelledby="organizationDropdownMenuLink">
                    <a class="dropdown-item" href="/organizations">All</a>
                    <a class="dropdown-item" href="/organizations/new">New</a>
                </div>
            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" value="Log Out" class="btn-small red" />
                </form>
            </li>
        </ul>                
    
    </div>

</nav>

