<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand" href="#">Wayne's Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    
        <ul class="nav navbar-nav navbar-right">
            <!--
            <li class="nav-item active">
                <a class="nav-link" href="/contacts">Home <span class="sr-only">(current)</span></a>
            </li>
            -->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/contacts" id="contactDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Contacts
                </a>
                <div class="dropdown-menu" aria-labelledby="contactDropdownMenuLink">
                    <a class="dropdown-item" href="/contacts">All</a>
                    <a class="dropdown-item" href="/contacts/new">New</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/organizations" id="organizationDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Organizations
                </a>
                <div class="dropdown-menu" aria-labelledby="organizationDropdownMenuLink">
                    <a class="dropdown-item" href="/organizations">All</a>
                    <a class="dropdown-item" href="/organizations/new">New</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/links" id="linkDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Useful Links
                </a>
                <div class="dropdown-menu" aria-labelledby="linkDropdownMenuLink">
                    <a class="dropdown-item" href="/links">All Links</a>
                    <a class="dropdown-item" href="/links/new">New Link</a>
                    <a class="dropdown-item" href="/links/categories">All Categories</a>
                    <a class="dropdown-item" href="/links/categories/new">New Category</a>
                </div>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/docs" id="linkDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"  aria-expanded="false">
                    Documentations
                </a>
                <div class="dropdown-menu" aria-labelledby="linkDropdownMenuLink">
                    <a class="dropdown-item" href="/links/categories/docs">All Docs</a>
                    <a class="dropdown-item" href="/links/new">New Doc Link</a>
                    <a class="dropdown-item" href="/links/categories/new">New Document Category</a>
                </div>
            </li>              

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <form action="/sessions?_method=DELETE" method="POST">
                    <input type="submit" class="btn btn-primary btn-sm" value="Log Out" class="btn-small red" />
                </form>
            </li>
        </ul>                
    
    </div>

</nav>

