<h3>New Organization</h3>
<form action="/organizations" method="POST">
    <div class="form-group">
        <label for="name">First Name</label>
        <input class="form-control" type="text" name="name" aria-describedby="nameHelp"  placeholder="Enter organization name" required />
        <small id="nameHelp" class="form-text text-muted">Name is required.</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
    <a class="btn btn-primary" href="/organization">Back</a>
<form>