<h3><%=organization.name%> Detail</h3>
<div>
    <p>
        <label for="name">Name: </label>
        <%=organization.name%>
    </p>
</div>
<% if (organization.contacts.length > 0) { %>
    <h4>Contacts</h4>
    <ul>
    <% organization.contacts.forEach(contact => { %>
        <li>
            <%= contact.firstName%> <% contact.lastName %> (Phone: <%=contact.phone%>) 
        </li>
    <% }) %>
    </ul>
<% } %>