<h3><%=organization.name%> Contacts <a class="btn btn-secondary btn-sm" href="/organizations">Back</a></h3>  

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Contacts</legend>

    <% if (organization.contacts.length > 0) { %>
        <ul>
        <% organization.contacts.forEach(contact => { %>
            <li>
                <%= contact.firstName%> <% contact.lastName %> (Phone: <%=contact.phone%>) 
            </li>
        <% }) %>
        </ul>
    <% } %>

</fieldset>