<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
</head>
<body>
    <%- include ('partials/nav-user.ejs') %>
    <div class="container overflow-auto">
        <main>
            <%- body %>
        </main>
        <%- include ('partials/foot.ejs') %>
    </div>
    <footer id="footer"> <small>&copy; Copyright 2020, Wayne Cho</small> </footer> 
</body>
</html>