/* General */
body {
    background: white;
}
/* navbar */
.navbar-custom { 
    background-color: black; 
}
.navbar-brand {
    color: #ffffff !important;  /*  I needed the !important to override bootstrap. */
}
.navbar-toggler {
    background-color: #ffffff !important;  /*  I needed the !important to override bootstrap. */
}

.nav-link {
    color: #ffffff !important;  /*  I needed the !important to override bootstrap. */
}

.dropdown-item:hover {
    background-color: blue;
    color: white;
}

/* CONTAINERS */
.container {
    /* background: lightgray; */
    margin: 20px auto;
    height: 95vw;
}

fieldset.scheduler-border {
    border: solid 1px #0c0101 !important;
    padding: 0 10px 10px 10px;
    border-bottom: none;
}

legend.scheduler-border {
    width: auto !important;
    border: none;
    font-size: 14px;
}

.btn:hover {
    color: yellow;
}

#footer {
    position : relative;
    bottom : 0;
    height : auto;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }

@media (max-width: 480px) {
    body{font-size: 12px;}
}

