<style>
    body {
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        margin: 50px auto;
        width: 400px;
        height: 300px;
        flex: 0 0 auto;
    }
    form {
        width: 100%;
        height: 100%;
    }
    #footer {
        margin-top: auto;
        flex-shrink: 0;
    }
</style>

<h4>Login</h4>
<form action="/sessions" method="POST">
    <label for="name">User Name:</label>
    <input class="form-control" type="text" name="username" required/>
    <label for="color">Password:</label>
    <input class="form-control" type="password" name="password" required/>
    <br>
    <input class="btn btn-primary btn-sm" type="submit" value="Submit">
</form>


