<style>
    body {
        background-image: url('/images/background.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;
    }
    .container {
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        border-radius: 10px;
        margin-top: 50px;
        max-width: 500px;
    }
</style>

<h4>Login</h4>
<form action="/sessions" method="POST">
    <label for="name">User Name:</label>
    <input class="form-control" type="text" name="username" required/>
    <label for="color">Password:</label>
    <input class="form-control" type="password" name="password" required/>
    <br>
    <input class="btn btn-primary btn-sm" type="submit" value="Submit">
</form>


