
<div class="container">
    <h1>New User</h1>
    <form action="/users" method="POST">
        <label for="name">User Name:</label>
        <input class="form-control" type="text" name="username" required/>
        <label for="role">Role:</label>
        <input class="form-control" type="text" name="role" required/>        
        <label for="color">Password:</label>
        <input class="form-control" type="password" name="password" required/>
        <br>
        <input class="btn btn-primary btn-sm" type="submit" value="Submit">
    <form>
</div>

