<h3>Contacts</h3>
<ul>
  <% for (let contact of contacts ) { %>
      <li>
        <a href="/contacts/<%=contact._id%>">
          <%= contact.firstName %>
        </a>
        <a href="/contacts/<%=contact._id%>/edit">
            Edit
        </a>
      </li>
   <% } %>
</ul>