<h4>New Contact</h4>
<form action="/contacts" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="firstName">First Name</label>
            <input class="form-control" type="text" name="firstName" aria-describedby="firstNameHelp"  placeholder="Enter first name" required />
            <small id="firstNameHelp" class="form-text text-muted">First Name is required.</small>
        </div>
        <div class="form-group col-md-6">
            <label for="lastName">Last Name</label>
            <input class="form-control" type="text" name="lastName"/>
        </div>
    </div>
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input class="form-control" type="tel" name="phone" aria-describedby="phoneHelp"  placeholder="Enter Telephone" required />
        <small id="phoneHelp" class="form-text text-muted">Telephone is required.</small>
    </div>    
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email"/>
    </div>
    <div class="form-group">
        <label for="street">Address</label>
        <input class="form-control" type="text" name="street"/>
    </div>    
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="city">City</label>
            <input class="form-control" type="text" name="city"/>
        </div>    
        <div class="form-group col-md-4">
            <label for="state">State</label>
            <input class="form-control" type="text" name="state"/>
        </div>   
        <div class="form-group col-md-2">
            <label for="zipcode">Zip Code</label>
            <input class="form-control" type="text" name="zipcode"/>
        </div>
    </div>                          

    <input type="submit" class="btn btn-primary btn-sm" value="Save">
    <a class="btn btn-secondary btn-sm" href="/contacts">Back</a>
<form>