<h3>New Contact</h3>
<form action="/contacts" method="POST">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input class="form-control" type="text" name="firstName" aria-describedby="firstNameHelp"  placeholder="Enter first name" required />
        <small id="firstNameHelp" class="form-text text-muted">First Name is required.</small>
    </div>
    <div class="form-group">
        <label for="phone">Telephone</label>
        <input class="form-control" type="text" name="phone" aria-describedby="phoneHelp"  placeholder="Enter Telephone" required />
        <small id="phoneHelp" class="form-text text-muted">Telephone is required.</small>
    </div>
    <input type="submit" class="btn btn-primary" value="Submit"><a href="/contacts">Back</a>
<form>