<h3>Contact Detail</h3>
<a href="/contacts">Contacts</a>
<div>
    <p>
        <label for="firstName">First Name: </label>
        <%=contact.firstName%>
    </p>
    <p>
        <label for="phone">Telephone: </label>
        <%=contact.phone%>
    </p>
</div>
<% if (contact.children.length > 0) { %>
    <h4>Children</h4>
    <ul>
    <% for (let child of contact.children ) { %>
        <li>
            <%= child.name %>
            <% if (child.age) { %>
                (Age: <%= child.age %>)
            <% } %>
        </li>
    <% } %>
    </ul>
<% } %>


