<h3>Contact Detail</h3>
<div>
    <p>
        <label for="firstName">First Name: </label>
        <%=contact.firstName%>
    </p>
    <p>
        <label for="phone">Telephon: </label>
        <%=contact.phone%>
    </p>
</div>
<a href="/contacts">Contacts</a>